body {
    color: #1b1b1b;
    font-family: Inter, sans-serif;
    overflow-x: hidden
}

a:hover {
    color: #1851B4;
    text-decoration: underline
}

.content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px
}

h1 {
    font-size: 60px;
    font-weight: 800;
    line-height: 64px
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 44px
}

h3 {
    font-size: 28px;
    font-weight: 800;
    line-height: 32px
}

h4 {
    font-size: 20px;
    font-weight: 800;
    line-height: 24px
}

p.body1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px
}

p.body2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px
}

p.body3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 44px
    }
    h2 {
        font-size: 28px;
        font-weight: 800;
        line-height: 32px
    }
    p.body1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px
    }
}

.semibold {
    font-weight: 600 !important
}

.hidden {
    display: none
}

.text-center {
    text-align: center
}

a.no-underline {
    text-decoration: none
}

.button {
    background-color: #2c6bed;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: 600
}

.button a {
    color: #fff
}

.button[disabled] {
    color: #1b1b1b
}

.button:hover,
.button:hover a {
    background-color: #1851B4;
    color: #fff
}

.button2 {
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #2c6bed;
    color: #2c6bed;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px
}

.button2 a {
    color: #2c6bed
}

.button2:hover,
.button2:hover a {
    background-color: #fff;
    border-color: #1851B4;
    color: #1851B4
}

.button-white {
    background-color: #fff;
    color: #2C6BED;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 0 20px
}

.button-white a {
    color: #2C6BED
}

.button-white:hover,
.button-white:hover a {
    background-color: #fff;
    color: #1851B4
}

.Bitorzo -logo {
    height: 30px;
    vertical-align: middle
}

body.has-navbar-fixed-top,
html.has-navbar-fixed-top {
    padding-top: 52px
}

.Bitorzo -navbar {
    border-bottom: 1px solid #ebeaeb
}

@media (min-width: 1024px) {
    body.has-navbar-fixed-top,
    html.has-navbar-fixed-top {
        padding-top: 85px
    }
    .Bitorzo -navbar {
        padding: 16px 0
    }
    .Bitorzo -logo {
        height: 50px
    }
}

.Bitorzo -navbar .navbar-brand {
    align-items: center;
    padding-left: 18px
}

@media (min-width: 1024px) {
    .Bitorzo -navbar .navbar-brand {
        padding: 0px
    }
}

.navbar-menu.is-active {
    position: absolute;
    width: 100%
}

.Bitorzo -navbar .navbar-item,
.Bitorzo -navbar .navbar-link {
    color: #1b1b1b;
    font-size: 16px
}

.navbar-link:not(.is-arrowless)::after {
    border-color: #1b1b1b
}

.navbar-dropdown {
    max-height: 200px;
    overflow: scroll
}

@media (max-width: 1024px) {
    .navbar-link:not(.is-arrowless)::after {
        display: none
    }
}

.Bitorzo -navbar a.navbar-item:hover {
    background-color: inherit;
    text-decoration: none
}

.Bitorzo -navbar a.navbar-item:hover {
    color: #2C6BED
}

.Bitorzo -navbar .language-selector .fas {
    padding-right: 4px
}

.hero.hero-main {
    background-color: #9DBBF8;
    color: #1b1b1b;
    max-height: 760px
}

@media (min-width: 1024px) {
    .hero.hero-main {
        max-height: 680px
    }
}

.hero-main h1 {
    margin-bottom: 24px
}

@media (min-width: 1024px) {
    .hero-main h1 {
        margin-top: 120px
    }
}

.hero-main .hero-body {
    padding-bottom: 0
}

.hero-main .subtitle {
    color: #1b1b1b;
    font-size: 20px;
    line-height: 30px
}

.hero-main .mobile-screenshots {
    position: relative
}

.hero-main .mobile-screenshots img {
    transform: rotate(22.5deg);
    width: 218px
}

.hero-main .mobile-screenshots .screenshot1 {
    margin-left: -50px;
    margin-top: 55px
}

@media (min-width: 1024px) {
    .hero-main .mobile-screenshots .screenshot1 {
        margin-left: 0px;
        margin-top: 46px;
        width: 320px
    }
    .hero-main .mobile-screenshots .screenshot2 {
        width: 300px
    }
}

.hero-main .mobile-screenshots .screenshot2 {
    margin-left: -32px;
    position: absolute;
    top: 0px
}

.section.quotes {
    background-color: #ECECEC
}

.section.quotes blockquote {
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    margin-bottom: 16px
}

.section.quotes img {
    border-radius: 50px
}

.section.quotes p {
    margin-bottom: 48px
}

@media (min-width: 768px) {
    .section.quotes blockquote {
        font-size: 28px;
        line-height: 32px
    }
}

.section.why-Bitorzo h2 {
    margin-bottom: 16px
}

@media (max-width: 768px) {
    .section.why-Bitorzo {
        margin-bottom: -40px
    }
}

.section.information img {
    border-radius: 16px
}

.section.information h2 {
    margin-bottom: 32px
}

.section.features {
    background-color: #F6F6F6
}

.section.features .box {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
    height: 100%;
    padding: 30px
}

.section.features h3 {
    color: #1b1b1b;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px
}

.section.features img {
    width: 280px
}

@media (min-width: 768px) {
    .section.features img {
        width: 370px
    }
}

.lottie-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%
}

@media (max-width: 1024px) {
    .lottie-wrapper {
        justify-content: center
    }
}

.lottie-animation {
    background-color: #a5cad5;
    border-radius: 16px;
    padding: 16px
}

.section.information img,
.section.information .lottie-animation {
    width: 384px
}

@media (min-width: 768px) {
    .section.information img,
    .section.information .lottie-animation {
        width: 680px
    }
}

.footer {
    background-color: #3C3744;
    color: #E9E9E9;
    font-size: 16px;
    line-height: 22px
}

.footer strong {
    color: #E9E9E9;
    display: block;
    font-weight: 600;
    margin-bottom: 12px
}

.footer a {
    color: #E9E9E9
}

.footer a:hover {
    text-decoration: underline
}

.download h2 {
    margin-bottom: 32px
}

.download h3 {
    margin-bottom: 24px
}

.download .button {
    margin: 15px 30px
}

.download-window.columns {
    background-color: #9dbbf8;
    border-radius: 12px;
    height: 300px;
    margin: 0;
    margin-bottom: 25px
}

.download-window .column {
    height: 100%;
    padding-bottom: 0
}

.download-window .download-window-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    margin: 0 auto
}

.download .message {
    background: #f6f6f6;
    margin-top: 16px
}

.download .message-body {
    border: none;
    font-size: 14px;
    line-height: 20px
}

.download .modal-card-body {
    padding: 0
}

.download .modal-card-body pre {
    text-align: left
}

.blog {
    background-color: #f7f7f7
}

.post img {
    display: block;
    margin: 0 auto
}

.post .author {
    border-radius: 50%;
    display: block;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    width: 80px
}

.blog-post-preview {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    margin-top: 80px;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-right: 15px
}

.blog-post-preview h3 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
    margin-top: 40px
}

@media (max-width: 768px) {
    .blog-post-preview h3 {
        font-size: 24px;
        line-height: 36px
    }
}

.blog-post-preview h3 a {
    color: #1b1b1b
}

.blog-post-preview h3 a:hover {
    color: #1b1b1b;
    text-decoration: none
}

.blog-post-preview p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px
}

.blog-post-header img.author {
    margin-top: 0px
}

.blog-post-header h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 16px;
    margin-top: 40px
}

@media (max-width: 768px) {
    .blog-post-header h1 {
        font-size: 24px;
        line-height: 36px
    }
}

.blog-post-header .body2 {
    margin-bottom: 20px
}

.blog-post-content h2,
.blog-post-content h3 {
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 16px
}

.blog-post-content h2 {
    font-size: 24px;
    line-height: 36px
}

.blog-post-content h3 {
    font-size: 20px;
    line-height: 30px
}

.blog-post-content p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px
}

.blog-post-content div,
.blog-post-content p {
    margin-bottom: 36px
}

.blog-post-content ul {
    list-style-type: disc
}

.blog-post-content ul,
.blog-post-content ol {
    margin-left: 30px
}

.blog-post-content ul li,
.blog-post-content ol li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400
}

@media (max-width: 768px) {
    .blog-post-content h2,
    .blog-post-content h3 {
        margin-top: 30px
    }
    .blog-post-content h2 {
        font-size: 22px;
        line-height: 34px
    }
    .blog-post-content p {
        font-size: 16px;
        line-height: 24px
    }
    .blog-post-content div,
    .blog-post-content p {
        margin-bottom: 20px
    }
}

.blog-post-content img.nice-left {
    float: left;
    margin-right: 30px
}

.blog-post-content .social-sharing a {
    margin-right: 20px
}

header.documentation {
    background-color: #f6f6f6;
    margin-bottom: 40px;
    margin-top: 12px;
    padding-bottom: 0;
    padding-top: 0
}

header.documentation h1 {
    margin-bottom: 24px
}

.docs h2 {
    margin-bottom: 24px
}

.docs .body2.semibold {
    margin-bottom: 16px
}

.docs .spec {
    margin-bottom: 30px
}

.docs li {
    margin-bottom: 8px
}

.docs li a {
    font-weight: 600
}

header.jobs-header {
    background: #e7dfe0;
    margin-top: 12px;
    padding-bottom: 0;
    padding-top: 0
}

header.jobs-header h1 {
    margin-bottom: 24px
}

.jobs {
    margin-top: 40px
}

.jobs h2 {
    margin-bottom: 24px
}

.jobs h3 {
    margin-top: 16px;
    margin-bottom: 16px
}

.jobs .columns:not(:last-child) {
    margin-bottom: 40px
}

.jobs .icon-wrapper {
    color: #3a76f0;
    font-size: 12px
}

p.stickers {
    font-size: 17px
}

.android-screenshot {
    overflow: hidden;
    position: relative
}

.android-screenshot img {
    bottom: -223px;
    position: absolute;
    width: 240px
}

html[dir=rtl] .Bitorzo -logo {
    margin-left: 40px
}

html[dir=rtl] .navbar-end {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: auto
}

html[dir=rtl] .mobile-screenshots {
    margin-right: 60px
}

html[dir=rtl] .Bitorzo -navbar .language-selector .fas {
    padding-left: 4px;
    padding-right: 0
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Inter-Regular"), url(inter/Inter-Regular-c342b1b7f7d19be1429fef29bf3af6d9e8c3e21aba846e082cdee1db8a530c83.woff2) format("woff2"), url(inter/Inter-Regular-b825f1bc25dee8a67cf5a2c461410c2c755bca29b9297c8f930fe4486ba35dd3.woff) format("woff")
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Inter-Italic"), url(inter/Inter-Italic-950174d1f78a8493886d74efd89ca703e56203ea6c1564f7957180ba58048d1e.woff2) format("woff2"), url(inter/Inter-Italic-b0b21adf523b3c44272ebf21f2a20dd71250d2aea3db4b8cce75c3545913ac2d.woff) format("woff")
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Inter-SemiBold"), url(inter/Inter-SemiBold-af44b8a232c6946b5d4ced0df202e29f1330f66a2587b581826fd561bda24fad.woff2) format("woff2"), url(inter/Inter-SemiBold-3041a99007a54816a0a30df3700049ef85b4a120cfe99a8e27274c93cca1024c.woff) format("woff")
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: local("Inter-SemiBoldItalic"), url(inter/Inter-SemiBoldItalic-a4f92da5bf69f56806968b8f82b555434357608a5e9b9800fb42a2098d487980.woff2) format("woff2"), url(inter/Inter-SemiBoldItalic-5ce565c8d96f3c343269eb699515041bbf3445571a69eee4575bfc85101b0f7b.woff) format("woff")
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local("Inter-ExtraBold"), url(inter/Inter-ExtraBold-74e72c6bbb7844899343c4783be9b4510e32951636acde44d5b4725e2132ea03.woff2) format("woff2"), url(inter/Inter-ExtraBold-585b4ce19c2d757e2f9f6925a280650188bd2a49e7613f687dabdb15543e17eb.woff) format("woff")
}

@font-face {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: local("Inter-ExtraBoldItalic"), url(inter/Inter-ExtraBoldItalic-2abc7ab18591e33fbc6bfe6a6b367ad9ee5ecc5e4662ef4863600c5e786f02ea.woff2) format("woff2"), url(inter/Inter-ExtraBoldItalic-b87f7d97d200dd840b93226e0ba8d48b65b3a8c4bc6c2f7f07a899437638841c.woff) format("woff")
}